.companyLogo{
  width: auto;
  height: 100px;
}
.searchBtn{
    background-color: black;
    border:  1px solid gold;
    
}
.gold-input{
    color:gold;
}
.searchBtn::placeholder {
  color: gold;
  opacity: 1; 
  
}
.headerDiv{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  
  border: 1px solid black;

}
.right{
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}
.shopping-cardBtn{
  max-height: 50px;
  border: 1px solid rgb(224, 192, 7);
  color:gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-card{
  width: 50px;      
}
.signinButton{
  background-color: gold;
  font-weight: bold ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupButton{
  background-color: black;
  color:gold;
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .mycontainer{
  display:grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
} */