.companyLogo{
  width: auto;
  height: 100px;
}
.searchBtn{
    background-color: black;
    border:  1px solid gold;
    
}
.gold-input{
    color:gold;
}
.searchBtn::placeholder {
  color: gold;
  opacity: 1; 
  
}
.headerDiv{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  
  border: 1px solid black;

}
.right{
  display: flex;
  gap:10px;
}
.signinButton{
  background-color: gold;
  font-weight: bold ;
}
.signupButton{
  background-color: black;
  color:gold;
  border: 1px solid gold;
}

/* .mycontainer{
  display:grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
} */