body{
    height:100vh;
    margin:0;
    background: black;
    font-family: "Figtree", sans-serif;
}

.companyLogo{
  width: auto;
  height: 100px;
}
.searchBtn{
    background-color: black;
    border:  1px solid gold;
    
}
.gold-input{
    color:gold;
}
.searchBtn::placeholder {
  color: gold;
  opacity: 1; 
  
}
.headerDiv{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  
  border: 1px solid black;

}
.right{
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}
.shopping-cardBtn{
  max-height: 50px;
  border: 1px solid rgb(224, 192, 7);
  color:gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-card{
  width: 50px;      
}

.signinButton{
  background-color: gold;
  font-weight: bold ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupButton{
  background-color: black;
  color:gold;
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}


.spesiyalnavbar{
    background-color: black !important;
    box-shadow: 2px 2px 2px 2px #797979;
   
}
.nav-link{
     font-weight: bold !important;
     font-family: "Figtree", sans-serif;
     color:#ffbb00;
   
   
   
}
.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.profile-icon{
  width: 50px;
  height: 50px;
}
.profile-section{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.goldtext{
    color:gold;
    text-decoration:none;
}